.contPage {
    padding: var(--padding);
}
.contPage .paraContact{
    font-size: 22px;
    text-align: center;
    color: var(--black);
}
.contPage .headerContact{
    text-align: center;
    font-size: 52px;
    color: var(--black);
    margin-top: -12px;
    text-transform: uppercase;
}
.contPage .main{
    display: flex;
    gap: 25px;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}
.contPage .ways{
    width: 50%;
    position: relative;
    top: 40px;
}
.contPage .way{
    background-color: var(--bg-color);
    padding: 14px 22px;
    width: 80%;
    height: 100px;
    margin: auto;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 6px;
}
.contPage .way i{
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 25px;
    color: var(--black);
}
.contPage .way h4{
    color: var(--black);
    font-size: 22px;

}
.contPage .break{
    background-color: var(--black);
    height: 300px;
    width: 2px;
    margin-top: 50px;
}
.contPage form{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contPage form input, .contPage textarea{
    margin: auto;
    width: 80%;
    padding: 8px 16px;
    font-size: 18px;
    color: var(--black);
    background-color: var(--white);
    border: none;
    border: 1px solid var(--black);
    outline-color: var(--black);
}
.contPage form label{
    margin: auto;
    margin-bottom: 8px;
    margin-top: 12px;
    font-size: 22px;
    color: var(--black);
}
.contPage form textarea{
    resize: vertical;
}
.contPage form button{
    width: 80%;
    cursor: pointer;
    margin: auto;
    margin-top: 22px;
}
.contPage form span {
    text-align: center;
    margin-top: 12px;
}