header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 100vh;
    padding: var(--padding);
    position: relative;
}
.DLMode {
    font-size: 25px;
    cursor: pointer;
}
.headerLinks li{
    font-size: 24px;
    margin-bottom: 14px;
    color: var(--black);
    transition: .2s;
}
.headerLinks li:hover{
    transform: scale(1.1);
    opacity: .7;
}
.headerLinks a {
    color: var(--black)
}
.headerInfo {
    color: var(--black);
}
.headerInfo .headName h1 {
    display: inline;
    font-size: 42px;
    margin-right: 5px;
    color: var(--black);
}
.headerInfo .headName .fa-handshake{
    font-size: 35px;
    color: #FFDE4D;
}
.headerInfo h3 {
    margin: 18px 0 12px 0;
}
.headerInfo p {
    opacity: .8;
    max-width: 550px;
    margin-bottom: 35px;
}
header .image img {
    width: 300px;
    height: auto;
    animation: imgInimation 8s ease-in-out infinite ;
    box-shadow: 0 0 0 9px var(--bg-color);
}
@keyframes imgInimation {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}